{:paths ["src"]
 :deps {ring/ring {:mvn/version "1.9.1"},
        ring/ring-json {:mvn/version "0.5.1"},
        cheshire/cheshire  {:mvn/version "5.10.2"},
        com.stuartsierra/component {:mvn/version "1.0.0"},
        ring/ring-jetty-adapter {:mvn/version "1.9.1"},
        datalevin/datalevin {:mvn/version "0.6.9"},
        compojure/compojure {:mvn/version "1.6.1"},
        org.clojure/java.jdbc {:mvn/version "0.7.8"}}
 :aliases {:run {:exec-fn api-beop.core/-main}
           :dev {:extra-paths ["dev"]}}}
